@if (productsData) {
  @if (!productsData.length) {
  <section class="min-h-[100vh] bg-slate-50 dark:bg-slate-950"></section>
  }@else {
    <section class="homeSec min-h-[100vh] bg-slate-50 dark:bg-slate-950 py-5">
      <h1 class="text-3xl font-black pb-4 anmieWordLeft text-center dark:text-white text-black">Products</h1>
      <div class="w-[90%] mx-auto">
        <input type="search" [(ngModel)] = 'searchKey'  placeholder="Search By Title..." class="w-full rounded-xl shareLinkInput dark:bg-black bg-white dark:text-white text-black block mx-auto" autocomplete="off" />
      </div>
      <div class="container w-[90%] mx-auto py-5">
        <div class="row ">
          @for (product of productsData | search : searchKey  ; track product._id) {
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 my-2 ">
            <div class="inner hover:shadow-md hover:ease-in-out dark:hover:shadow-lime-100 hover:shadow-lime-900">
              <div class=""  [routerLink]="['/Product-Details']" (click)="divCilcked(product._id)">
                <div class="parentImage">
                  <img [src]="product.imageCover" class="productImage" [alt]="product.title" [title]="product.title" />
                </div>
                <div class="Productdetails p-2">
                  <p class="productCategory text-[#0aad0a] dark:text-[#6eff7c]">{{product.category.name}}</p>
                  <p class="productName text-black dark:text-white font-black">{{product.title.split(" ").slice(0 , 2).join(" ")}}</p>
                  <div class="priceNdRate flex justify-between">
                    <p class="price dark:text-white text-black">{{product.price}} EGP</p>
                    <div class=" flex items-center">
                      <p class="rate mb-0 text-xs dark:text-white text-black"><i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}} ({{product.ratingsQuantity}})</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" flex p-2 justify-between items-center ">
                <button class="addTocartBtn block " (click)="addToCart(product._id)">Add To Cart
                    <i class="ms-1 fa-solid fa-cart-shopping"></i>
                  </button>
                  <button [title]="wishlistIds.includes(product._id) ? 'Tap To Remove' : 'Add To WishList' " (click)="wishlistIds.includes(product._id) ? removeItemWishList(product._id)  : addtoWishList(product._id)">
                    <i class="fa-solid fa-heart text-2xl transition-colors duration-300"
                      [class.text-red-500]="wishlistIds.includes(product._id)"
                      [class.dark:text-white]="!wishlistIds.includes(product._id)">
                    </i>
                  </button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </section>
  }
}
@if (loading === true) {
  <section class="min-h-[100vh] bg-slate-50 dark:bg-slate-950"></section>
}
