.inner {
  border: solid 2px lightgreen;
  border-radius: 0.75rem;
  transition: ease-in-out box-shadow 0.3s;
  cursor: pointer;
}
img.productImage {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;

}
.addTocartBtn {
  color: #fff;
  background-color: #0aad0a;
  border: solid transparent 1px;
  border-radius: 4px;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  transition: ease-in-out 0.3s color , ease-in-out 0.3s box-shadow;
}
.addTocartBtn:hover {
  box-shadow: 0px 0px 0px 3px lightgreen;
  color: whitesmoke;
}
.inner {
  overflow-y: hidden;
}
.parentBtn {
  transform: translateY(150%);
  transition: ease-in-out transform 0.3s;
}
.inner:hover .parentBtn {
  transform: translateY(0%);
}
input.shareLinkInput {
  border: solid lightgreen 2px;
  transition: ease-in-out box-shadow 0.3s;
}
input.shareLinkInput:focus {
  box-shadow: 0px 0px 0px 2px lightgreen;
}
