<section class="bg-slate-50 dark:bg-slate-950 min-h-[100vh] justify-center items-center">
  <div class="container flex  items-center main w-[95%] mx-auto justify-center">
    <div class="row  w-full flex">
      <div class="col-12 col-lg-6">
        <div class="inner pb-3">
          <h1 class="text-6xl font-black mb-2 text-black dark:text-white">Fresh Cart</h1>
          <h2 class="text-2xl mt-2 w-[95%] text-black dark:text-white">Fresh Cart Helps You To Reset Your Password.</h2>
          <div class="py-1 text-black dark:text-white">
            <p class="py-1">Steps</p>
            <ul>
              <li class="py-1  text-xs">1 - Type Your Email You Register with It Before.</li>
              <li class="py-1 text-xs">2 - Check Your Email && Verfiy Code.</li>
              <li class="py-1 font-black text-xs">3 - Type Your Email && New Password.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="inner bg-slate-200 dark:bg-slate-900 shadow-md pt-3 rounded-md">
          <h3 class="font-black text-black dark:text-white text-xl ms-2  mx-auto">Reset Password</h3>
          <div class="w-full h-[3px] my-2 bg-slate-300 dark:bg-slate-800"></div>
          <form [formGroup]="updatePasswordForm" (ngSubmit)="update()">
            <div class="mx-auto box-border flex flex-col py-[1rem]">
              <input formControlName="email" type="email" placeholder="Your Email..."
                class="w-[95%]  rounded-xl text-black dark:text-white dark:bg-black bg-white mx-auto shareLinkInput" autocomplete="off">
              @if (updatePasswordForm.get('email')?.errors && updatePasswordForm.get('email')?.touched) {
              <div class="flex px-3 animeError py-1  items-center text-sm text-red-800 dark:text-red-300 rounded-lg w-[95%] mx-auto"
                role="alert">
                <div>
                  <ul class=" list-disc  list-inside">
                    @if (updatePasswordForm.get('email')?.getError('email')) {
                    <li class=""><i class="fa-solid fa-circle-exclamation mx-1"></i>Invaild Email</li>
                    }
                    @else if (updatePasswordForm.get('email')?.getError('required')) {
                    <li class=""><i class="fa-solid fa-circle-exclamation mx-1"></i>Required</li>
                    }
                  </ul>
                </div>
              </div>
              }
              <div class="my-2">
                <div class="flex justify-center items-center relative mx-auto w-[95%]">
                  <input formControlName="newPassword" [type]="passwordVisibility['newPassword'] ? 'text' : 'password'" placeholder="New Password..."
                  class="w-full mt-2 rounded-xl mx-auto shareLinkInput dark:bg-black bg-white dark:text-white text-black" autocomplete="off">
                  <div class="absolute bottom-3 right-3 cursor-pointer px-1" (click)="togglePassword('newPassword')" >
                    <i
                      class="fa-solid dark:text-white text-black"
                      [class.fa-eye]="passwordVisibility['newPassword']"
                      [class.fa-eye-slash]="!passwordVisibility['newPassword']"
                    ></i>
                  </div>
                </div>

                @if (updatePasswordForm.get('newPassword')?.errors && updatePasswordForm.get('newPassword')?.touched) {
                <div class="flex px-3 animeError text-sm text-red-800 dark:text-red-300 rounded-lg w-[95%] mb-2 mx-auto" role="alert">
                  <div>
                    <ul class="mt-1.5 list-disc  list-inside">
                      @if (updatePasswordForm.get('newPassword')?.getError('pattern')) {
                      <li class=""><i class="fa-solid fa-circle-exclamation mx-1 text-capitalize"></i>Must Include Chars&Numbers</li>
                      }
                      @else if (updatePasswordForm.get('newPassword')?.getError('required')) {
                      <li><i class="fa-solid fa-circle-exclamation mx-1 text-capitalize"></i>Required</li>
                      }
                      @else if (updatePasswordForm.get('newPassword')?.getError('maxlength')) {
                      <li><i class="fa-solid fa-circle-exclamation mx-1 text-capitalize"></i>32 Chars As Long</li>
                      }
                      @else if (updatePasswordForm.get('newPassword')?.getError('minlength')) {
                      <li><i class="fa-solid fa-circle-exclamation mx-1 text-capitalize"></i>8 Chars As Short</li>
                      }
                    </ul>
                  </div>
                </div>
                }
              </div>
            </div>
            <div class="flex justify-center">
              <button class="text-white btn flex justify-center items-center px-3 mb-3 py-1">Update Password</button>
            </div>
            @if(vaildEmail === false) {
            <div
              class="flex px-3 animeError justify-center font-black text-sm text-red-800 dark:text-red-300 rounded-lg w-[95%] pb-3 mx-auto"
              role="alert">
              <div>
                <ul class="mt-1.5 list-disc  list-inside">
                  <li class="text-center"><i class=" fa-solid fa-circle-exclamation mx-1 text-capitalize"></i>UNKNOWN
                    EMAIL</li>
                </ul>
              </div>
            </div>
            }
            @if (showErrorMessage === true) {
              <p class="text-xs text-red-800 animeError dark:text-red-300 text-center pb-3">Must The Same Account Recived Code To Reset Password <i class="fa-solid font-black fa-xmark"></i></p>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
